<h2>Hello <strong>{{name}},</strong> </h2>

<h5>Rileys instagram clone</h5>
<p>
    This is a web-app that emulates the operation of the <a href="https://insertherokulink">instagram</a>. Play around and update your profile,
    make post(s), <br> comment(s), like and share posts. You can also follow and unfollow idividuals.
    Try it!!. <br> <br>

    <b>Your Tech Sis</b>, <br>
    <a href="https://github.com/annk1995">Kabui kariuki</a>. <br>
</p>
<p class="alert alert-danger">If you did not make this request kindly <a href="mailto:kabuikariuki052@gmail.com;">REPORT</a>
    immediately!!</p>